body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #86B404;
}

.quem-somos {
    background-color: #585858;
    color:white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #00FFFF;
}

.bg-footer {
    background-color: black;
    color: white;
}